

{% block body %}
<h3 class="text text-center">Ajouter chambre</h3>
{{form_start(formChambre) }}
<div class="container">
  <div class="row col-md-12">
    <div class="col-md-6">
      {{form_row(formChambre.numchambre, {'attr': {'placeholder':'numero de chambre'}}) }}
    </div>
  </div>
  <div class="row col-md-12"></div>
    <div class="col-md-6">
      {{form_row(formChambre.type, {'attr': {'placeholder':'le type de chambre'}}) }}
    </div>
  </div>
  <button type="submit" id="addCham" class="btn btn-primary">Ajouter Chambre</button>
</div>
{{form_end(formChambre) }}
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // function OnclikBouton(event) {
  //   event.preventDefault();
  //   const url = '/page/addCha';
  //   axios.post(url).then(function(response){
  //     console.log(response);
  //   })
  //   //  $.ajax({
  //   //   url: '/page/addCha',
  //   //   type: "POST",
  //   //   data: $('.chambre').serialize(),
  //   //   success: function (data) {
  //   //     console.log(data);
  //   //   }
  //   // });
  // }
  $('form').submit(function (e) {
      e.preventDefault();

      let form = $(this);
      let url = '/page/addCha';
      let data = form.serialize();
      $.ajax({
        type: 'POST',
        url: url,
        data: data,
        success: function (response) {

          console.log(response);
          const rep = response.Object.code;
          console.log(rep);
        },
      });
    });


    // document.querySelectorAll('button').forEach(function (lien) {
    //     lien.addEventListener('click', OnclikBouton)
    //   })
</script>
{% endblock %}
